{% extends 'twitter_app/super/super.html' %}
{% block content %}
<div style="margin:auto; padding:20px;border-radius:10px;">
    <article class="media content-section">
        <div class="media-body">
            <div class="article-metadata">
                <a class="mr-2" href="{% url 'user_posts' object.author.username %}">{{ object.author }}</a>
                <small class="text-muted">{{ object.date_objected|date:"F d, Y" }}</small>
            </div>
            <h2 class="article-title">{{ object.title }}</h2>
            <p class="article-content">{{ object.content }}</p>
        </div>
    </article>
</div>
{% endblock content %}
